html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

.ht-500 {
  height: 500px;
}

.task-list {
  overflow-y: auto; 
  height: 350px;
}

.bg-light-ct {
  background-color: #fff;
}

.empty-list {
  height: 350px;
  max-height: 350px;
  min-height: 350px;
}